<div class="webkite-applied-filters">
  Filters:
  {{#each currentFilters}}
    <a href="#" class="webkite-remove-filter" data-facet="{{this.facet}}" data-operator="{{this.operator}}" data-value="{{this.value}}">{{this.facet}} [x]</a>
  {{/each}}
  <a href="#" class="webkite-clear-filters"> (clear all) </a>
</div>
