{{#if currentSort}}
  Sorted by {{currentSort}} ({{currentDirection}}ending)
{{/if}}
<div><select class="webkite-sort" name="webkite-sort">
  <option selected>Sort</option>
  {{#each sortableFacets}}
    <option value="{{name}}">{{name}}</option>
  {{/each}}
</select></div>
